body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="file"] {
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
  }
  
  img {
    max-width: 300px;
    max-height: 300px;
  }
  
/* Define largura máxima da página */
body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Define layout da página para dispositivos móveis */
  @media screen and (max-width: 768px) {
    body {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
        width: auto;
    }
    
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
    
    #lista-tarefas {
      font-size: 16px;
    }
    
    form input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
    }
    
    form .button {
      width: 100%;
    }
  }
  