<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Cursos.IO | Cadastro</title>

</head>
<body>

    <div class="flex-dashboard">

        <sidebar id="sidebar">
            <div class="sidebar-title">
                <img src="../images/Cursos.Io.png" alt="">
                <h2>Cursos.Io</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-user"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="perfil.html"> Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-graduation-cap"></i>
                        <a href="vitrine.html"> Vitrine de cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-book"></i> 
                        <a href="meuscursos.html"> Meus cursos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-pen"></i> 
                        <a href="relatorio.html"> Relatórios</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-book"></i>
                        <a href="#"> Falar com um gerente</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-trophy"></i> 
                        <a href="premiacao.html">Minhas premiações</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-address-card"></i>
                        <a href="sobre.html">Sobre a(o) Cursos.Io</a>
                    </li>
                    <li class="showbar_logaut">
                        <i class="fa-solid fa-right-from-bracket"></i> 
                        <a href="../index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </sidebar>
    
        <main id="mainContent">
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.html"> <i class="fa-solid fa-right-from-bracket"></i> Logaute</a>
            </header>
            <div class="main-content">
                <div class="panel-row">
                    <h2>Minhas Tarefas (00/00)</h2>
                    <hr>
                </div>
                
                <div class="card-tarefas">
                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                </div>

                <div class="card-tarefas">
                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                </div>

                <div class="card-tarefas">
                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                    <div class="card">
                        <img src="../img/Cursos.Io.png" alt="">
                        <div class="descricao-tarefas">
                            <h2>Titulo</h2>
                            <p>Data da tarefa 20/20/20</p>
                        </div>
                        <i id="icon-tarefas" class="fa-solid fa-trash"></i>
                    </div>

                </div>

            </div>
        </main>
    </div>

    <script src="../plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/mensagem.js"></script>
</body>
</html>